<header class="container-fluid py-2">
    <div class="row">
        <!-- 1st logo -->
        <div class="col-lg-1 col-md-2 col-sm-2 col-2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBVU4v7jIDAKBtCUKFfJAxozE9bSPcIXCdHg&s"
                alt="">
        </div>
        <!-- heading -->
        <div class="col-lg-10 col-md-8 col-sm-8 col-8 text-center m-auto">
            <h5 class="font-medium">CHILD SUPPORT MANAGEMENT SYSTEM</h5>
        </div>
        <!-- 2nd logo -->
        <div class="col-lg-1 col-md-2 col-sm-2 col-2">
            <img src="https://www.m-inc.com/content/uploads/2019/07/Logo_MD-Maryland%E2%80%99s-Total-Human-Services-Information-NetworK-MD-THINK.png"
                alt="">
        </div>
    </div>
</header>