<div class="container-fluid text-white py-3 ">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-3">
            <p class="border-b border-white text-xs font-semibold">CHILD SUPPORT</p>
            <p class="font-light text-xs">
                Child Support Calculator <br>
                Child Support Notice Generation
            </p>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <p class="border-b border-white text-xs font-semibold">DHS MAIN OFFICE</p>
            <p class="font-light text-xs">
                311 West Saratoga Street Baltimore, MD 21201<br>
                1-800-000-0000
            </p>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <p class="text-center font-light text-xs">Contact Us | DHS Home | Privacy Notice | © 2019 Powered By MD THINK</p>
</div>