<nav class="container-fluid ">
    <div class="row">
        <div class="col-lg-3 p-0">
            <div class="input-group">
                <button class="btn" type="button"><i class="fa-solid fa-bars fa-sm"></i></button>
                <button class="btn btn-outline " type="button"><i class="fa-solid fa-magnifying-glass fa-sm"
                        style="color: #545d6d;"></i></button>
                <input type="number" class="form-control" placeholder="Search Case Number"
                    aria-label="Example text with two button addons">

                <button class="btn px-4 go" type="button">Go</button>
                <button class="btn px-3 clear" type="button">Clear</button>
            </div>
        </div>
        <div class="col-lg-9 d-flex px-0">
            <div>
                <button type="button" class="btn btn-light">ADV Search</button>
                <button type="button" class="btn btn-light">Document Generation</button>
                <button type="button" class="btn btn-light">SSP</button>
                <button type="button" class="btn btn-light">DVR</button>
                <button type="button" class="btn btn-light">File Management</button>
                <button type="button" class="btn btn-light">Enterprise Search</button>
                <button type="button" class="btn btn-light">Reports</button>
                <button type="button" class="btn btn-light"><i class="fa-solid fa-bell me-1"></i>Alerts</button>
                <button type="button" class="btn btn-light"><i class="fa-solid fa-message me-1"></i>Prompts</button>
                <button type="button" class="btn btn-light"><i class="fa-solid fa-circle-question me-1"></i>Contact
                    Support</button>
                <button type="button" class="btn btn-light px-1"><i
                        class="fa-solid fa-user me-1"></i>crystl.thomas</button>
            </div>
        </div>
    </div>
</nav>