<div class="container min-h-screen mt-1">

    <div class="tool-1">
        <a href="#">
            <i class="fa-solid fa-triangle-exclamation" style="color: #fb1404;"></i>
        </a>
        <a href="#">
            <i class="fa-solid fa-calculator" style="color: #10417a;"></i>
        </a>
        <a href="#">
            <i class="fa-regular fa-rectangle-list" style="color: #10417a;"></i>
        </a>
        <a href="#">
            <i class="fa-solid fa-note-sticky" style="color: #10417a;"></i>
        </a>
        <a href="#">
            <i class="fa-regular fa-clock" style="color: #10417a;"></i>
        </a>
        <a href="#">
            <i class="fa-solid fa-file-lines" style="color: #10417a;"></i>
        </a>
        <a href="#">
            <i class="fa-regular fa-calendar-days" style="color: #10417a;"></i>
        </a>
        <a href="#">
            <i class="fa-solid fa-bell" style="color: #10417a;"></i>
        </a>
        <a href="#">
            <i class="fa-regular fa-money-bill-1" style="color: #10417a;"></i>
        </a>
        <a href="#">
            <i class="fa-regular fa-message" style="color: #10417a;"></i>
        </a>
        <a href="#">
            <i class="fa-solid fa-scale-balanced" style="color: #10417a;"></i>
        </a>
    </div>

</div>