<nav class="container-fluid">
        <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-flex px-0 bg-info">
                        <div class="button-1 ">
                                <button type="button"
                                        class="btn btn-light border border-white  text-sm h-full">Dashboard</button>
                        </div>
                        <div class="button-2"><button type="button"
                                        class="btn btn-light  border border-white text-sm h-full">Case
                                        Registration</button>
                        </div>
                        <div class="button-3"> <button type="button"
                                        class="btn btn-light  border border-white text-sm h-full">Case
                                        Management</button>
                        </div>
                        <div class="button-4"> <button type="button"
                                        class="btn btn-light  border border-white text-sm h-full">Locate</button>
                        </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-flex px-0">
                        <div class="button-5"> <button type="button"
                                        class="btn btn-light  border border-white text-sm h-full">Intergovernmental</button>
                        </div>
                        <div class="button-6"><button type="button"
                                        class="btn btn-light  border border-white text-sm h-full">Establishment</button>
                        </div>
                        <div class="button-7"><button type="button"
                                        class="btn btn-light  border border-white text-sm h-full">Enforcement</button>
                        </div>
                        <div class="button-8"><button type="button"
                                        class="btn btn-light  border border-white text-sm h-full">Financial
                                        Management</button>
                        </div>
                </div>
        </div>
</nav>